<h1>ALL Products</h1>

<% @products.each do |product| %>

	<div class="media">
	  <a class="media-left media-middle" href="#">
	    <img src="http://www.apetogentleman.com/wp-content/uploads/2010/08/neals-yard-remedies-soothing-starflower.jpg" width="64px" height="64px">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%= product.name %></h4>
	    <p><%= product.category %></p>
	    <p><%= product.description %></p>
	    <p><%= product.formatted_price %></p>
	  </div>
	</div>

<%end%>